In [16]:
import pandas as pd
titanic = pd.read_csv("Cleaned_Titanic_Dataset.csv")
fares = pd.read_csv("ticket_fares.csv")
df = pd.merge(titanic, fares, on="Ticket", how="left")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare_x,Embarked,FamilySize,isAlone,Fare_y
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,0,1,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,1,0,53.1000
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,1,0,53.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S,0,1,30.0000
1589,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21,1,2,W./C. 6607,23.4500,S,3,0,23.4500
1590,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21,1,2,W./C. 6607,23.4500,S,3,0,23.4500
1591,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C,0,1,30.0000
1592,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q,0,1,7.7500

In [17]:
bins = [0, 12, 19, 30, 61, 120]
labels = ['Child', 'Teenager', 'Young Adult', 'Adult', 'Senior']
df['AgeGroup'] = pd.cut(df['Age'], bins = bins, labels =  labels, include_lowest=True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare_x,Embarked,FamilySize,isAlone,Fare_y,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,1,0,7.2500,Young Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,1,0,71.2833,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,0,1,7.9250,Young Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,1,0,53.1000,Adult
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,1,0,53.1000,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S,0,1,30.0000,Teenager
1589,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21,1,2,W./C. 6607,23.4500,S,3,0,23.4500,Young Adult
1590,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21,1,2,W./C. 6607,23.4500,S,3,0,23.4500,Young Adult
1591,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C,0,1,30.0000,Young Adult
1592,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q,0,1,7.7500,Adult

In [18]:
survivedGenderAge = df.groupby(['Age', 'AgeGroup'])['Survived'].mean().reset_index()
print(survivedGenderAge)

     Age     AgeGroup  Survived
0      0        Child       1.0
1      0     Teenager       NaN
2      0  Young Adult       NaN
3      0        Adult       NaN
4      0       Senior       NaN
..   ...          ...       ...
350   80        Child       NaN
351   80     Teenager       NaN
352   80  Young Adult       NaN
353   80        Adult       NaN
354   80       Senior       1.0

[355 rows x 3 columns]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9540\1029235933.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survivedGenderAge = df.groupby(['Age', 'AgeGroup'])['Survived'].mean().reset_index()

In [19]:
survivedPClass = df.groupby("Pclass")["Survived"].mean().reset_index()
print(survivedPClass)

df["FareBin"] = pd.qcut(df['Fare_x'], q = 4, labels = ["Low", "Medium", "High", "VeryHigh"])
survivedFareBin = df.groupby("FareBin")["Survived"].mean().reset_index()
print(survivedFareBin)

   Pclass  Survived
0       1  0.689055
1       2  0.480000
2       3  0.239057
    FareBin  Survived
0       Low  0.229426
1    Medium  0.441687
2      High  0.336449
3  VeryHigh  0.609418

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9540\4293669657.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survivedFareBin = df.groupby("FareBin")["Survived"].mean().reset_index()

In [20]:
paragraph1 = """Survival rates grouped y Gender and age show that Women and Children
                had more survival rate than Men and Adults and Senior. This proves the fact that evacuation
                of Women and Children was given more priority than any other."""

paragraph2 = """Passengers in 1st Class had much more higher survival rates than those in 2nd 
                and 3rd class. When using fare-based quantile bins, Survival rates also increase 
                with increase in higher fares. This confirms wealth was strongly related to survival chances"""

In [21]:
with open('reportOfTitanicSurvival.txt', 'w') as file:
    file.write(paragraph1.strip() + "\n" + paragraph2.strip())